@model Department
@{
    ViewData["Title"] = "Add Department";
}
<h1>Add - New Department</h1>
<br/>
<div class="w-50">
    <form asp-action="Create">
       @* <label asp-for="Id">Department Id</label>
        <input class="form-control" asp-for="Id" />
        <span asp-validation-for="Id" class="d-block"></span>*@
        <Partial name="PartialCreateEdit" />
        <input type="submit" class="btn btn-success" value="Add Department" />
    </form>
</div>

@section Scripts{
    <Partial name="_ValidationScriptsPartial" />
}