@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br/>
<span class="fw-bold">Id:</span> @Model.Id
<br/>
<span class="fw-bold">Name:</span> @Model.Name
<br/>
<span class="fw-bold">Capacity:</span> @Model.Capacity

