@model Department

<label asp-for="Name">Department Name</label>
<input class="form-control" asp-for="Name" />
<span asp-validation-for="Name" class="d-block"></span>
<label asp-for="Capacity">Department Capacity</label>
<input class="form-control" asp-for="Capacity" />
<span asp-validation-for="Capacity" class="d-block"></span>
<br />